{% extends "base.html" %}
{% block content %}
    <br><br>
    {% if not is_success %}
    <form name="addConference" action="" method="post">
        {{form.hidden_tag() }}
        <p>
            会议名称: {{form.name(size=48)}}<br><br>
        </p>
        <p>
            会议时间: {{form.date}} &nbsp;&nbsp;&nbsp;&nbsp;  <em>格式：<mark>yyyy-mm-dd hh:mm:ss</mark></em>
            <br><br>
        </p>
        <p>
            会议时长: {{form.duration}} &nbsp;&nbsp;&nbsp;&nbsp;  <em>格式：<mark> hh:mm:ss</mark></em>
            <br><br>
        </p>
        <p>
            会议地点: {{form.place(size=48)}}<br><br>
        </p>
        <p>
            会议简介: {{form.introduction(size=48)}}<br><br>
        </p>
        <p>
            会议主持: {{form.host(size=48)}}<br><br>
        </p>
        <p>
            会议嘉宾: {{form.guest_intro(size=48)}}<br><br>
        </p>
        <p>
            会议备注: {{form.remark(size=48)}}<br><br>
        </p>
        <p>
            {{form.submit}}
        </p>
    </form>
    {% else %}
    <h3>会议发布成功！</h3>
    {% endif %}
{% endblock %}