<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>会议管理</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.js" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	  <style type="text/css">
		  .table tbody tr td{
            vertical-align: middle;
			overflow: hidden;
        }
		  th{
            text-align: center;
            <!--font-family:Microsoft yahei;-->
            <!--font-size:36px;-->
            <!--font-weight:bold;-->
            <!--color:#000-->
        }

	  </style>
 <script src="static/js/jquery-3.2.1.min.js"></script>
          <script>
              function toVaild(){
                  var val_name = document.addConference.name.value;
                  var val_date = document.addConference.date.value;
                  var val_place = document.addConference.place.value;
                  var val_duration = document.addConference.duration.value;
                  var val_intro = document.addConference.introduction.value;
                  var val_host = document.addConference.host.value;
                  var val_guestintro = document.addConference.guest_intro.value;
                  var val_remark = document.addConference.remark.value;
                  var val_file = document.addConference.file.value;

                  if(!val_file || !val_name || !val_date || !val_duration || !val_intro || !val_host || !val_guestintro || !val_remark){
                      alert("请先填写所有内容并上传海报");
                      return false;
                  }
                  else{
                      return true;
                  }
              }
          </script>

  </head>
  <body>
  	<div class="container">
  		<div class="page-header">
  			{% if g.user.is_authenticated %}
			<h1>Hello, {{g.user.username}}! <small>发布、管理您的会议</small></h1>
			{% else %}
			<h1>Hello! <small>发布、管理您的会议</small></h1>

			{% endif %}
		</div>

		<ul class="nav nav-tabs">
			<li role="presentation" id="/index"><a href="{{url_for('index')}}">Home</a></li>
			<li role="presentation" id="/add_conference"><a href="{{url_for('add_conference',conference_id=0)}}">发布会议</a></li>
			<li role="presentation" id="/previewlist"><a href="{{url_for('previewlist')}}">预览</a></li>
		    {% if g.user.is_authenticated %}
			    <li role="presentation" id="/logout"><a href="{{url_for('logout')}}">注销</a></li>
            {% else %}
                <li role="presentation" id="/login"><a href="{{url_for('login')}}">登录</a></li>
			    <li role="presentation" id="/register"><a href="{{url_for('register')}}">注册</a></li>
	        {% endif %}
			{% if tag %}
			<!-- 获取当前页面路径，设置标签页active -->
    			<script type="text/javascript">
    				var test = window.location.pathname;
    				document.getElementById(test).setAttribute("class","active");
    			</script>
			{% endif %}
		</ul>
		
		<br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, msg in messages %}
                    {% if category == 'message' %}
                        <div class="alert alert-warning" role="alert">{{ msg }}</div>
                    {% else %}
                        <div class="alert alert-{{category}}" role="alert">{{ msg }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

		{% block content %}{% endblock %}
	</div>


  </body>
</html>