{% extends "base.html" %}
{% block content %}
    <br><br>
    <p>
        <!-- 会议名称作标题 -->
        <table class="table table-bordered">
            <thead>
                    <tr style="background-color: whitesmoke" align="center">
                        <th width="70">会议名称</th>
                        <th width="50">会议地点</th>
                        <th width="50">会议开始时间</th>
                        <th width="40">会议时长</th>
                        <th width="40">会议状态</th>
                        <th width="50">详细内容</th>
                        <th width="50">报名审核</th>
                    </tr>
            </thead>
            <tbody>
            {% for conference in conferences %}
                <tr align="center">
                    <td>{{ conference.name}}</td>
                    <td>{{ conference.place }}</td>
                    <td>{{ conference.date }}</td>
                    <td>{{ conference.duration }}</td>
                    <td>{{ conference.status }}</td>
                    <td><a href="{{ url_for('preview', conference_id=conference.id) }}">详细信息</a></td>
                    <td><a href="{{ url_for('examine', conference_id=conference.id) }}">审核</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
{#    {% for conference in conferences %}#}
{#                <p>{{conference.name}} </p>#}
{#    {% endfor %}#}
    </p>
    <p>

    </p>
{% endblock %}
