
{% extends "base.html" %}
{% block content %}
    <p>
        <!-- 会议名称作标题 -->
        <table width="100%">
            <tr align="center">
                <td>
                    <table  width="60%" >
                        <thead>
                            <tr>
                                <th><h1>{{ conference.name }}</h1></th>
                                <!--会议名称-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% if conference.introduction %}
                                <td><h4><b>会议简介：</b><br><br>{{ conference.introduction }}</h4></td>
                                <!--会议简介-->
                                {% endif %}
                            </tr>
                            <tr>
                                {% if conference.host %}
                                <td><h4><b>主持人：</b>{{conference.host}}</h4></td>
                                <!--嘉宾介绍-->
                                {% endif %}
                            </tr>
                            <tr>
                                {% if conference.guest_intro %}
                                <td><h4><b>嘉宾介绍：</b><br><br>{{conference.guest_intro}}</h4></td>
                                <!--嘉宾介绍-->
                                {% endif %}
                            </tr>
                            <tr>
                                <td><h4><b>会议时间：</b>{{ conference.date }}</h4></td>
                                <!--会议时间-->
                            </tr>
                            <tr>
                                <td><h4><b>会议时长：</b>{{ conference.duration }}</h4></td>
                                <!--会议时长-->
                            </tr>
                            <tr>
                                <td><h4><b>会议地点：</b>{{ conference.place }}</h4></td>
                                <!--会议地点-->
                            </tr>
                            <tr>
                                <td><h4><b>会议状态：</b>{{ conference.status }}</h4></td>
                                <!--会议状态-->
                            </tr>
                            <tr>
                                {% if conference.remark %}
                                <td><h4><b>备注：</b><br><br>{{ conference.remark }}</h4></td>
                                <!--备注信息-->
                                {% endif %}
                            </tr>
                            <tr>
                                <div class="btn-group btn-group-lg" aria-label="...">
                                    <td align="center">
                                            <button type="button" class="btn btn-info">修改信息</button>
                                            <button type="button" class="btn btn-info">发布会议</button>
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </p>

{% endblock %}